[Desktop Entry]
Encoding=UTF-8
Name=notion
GenericName=Notion
Comment=NotIon Window Manager
Exec=notion
Terminal=false
TryExec=notion
Type=Application
